html {
  margin: 0;
  padding: 0;
}

#profile .header {
 　margin:0 auto;
  background-color: #333333;
  padding: 15px;
  color: #828282;
  font-family: 'Playfair Display SC', serif;
}

.header-left a.h1, .header-left a {
  position: absolute;
  top:20px;
  left: 20px;
  font-size: 15px;
  color: #828282;
  font-family: 'Playfair Display SC', serif;
  letter-spacing: 2px;
  text-decoration: none;
}

.header-right ul a {
  font-size: 17px;
  color: #828282;
  text-decoration: none;
  padding-right: 7px;
  margin :0 auto;
  float:right;
  line-height: 8px;
}

span {
  color: #D6AC2C;
  opacity: 0.7;
}

#bio-left {
  font-family: 'Playfair Display SC', serif;
  float: left;
  padding:200px 100px 100px 200px;
  font-size: 30px;
  opacity: 0.7;
}

#bio-left.bio{
  padding:0 0 10px 5px;
}

#bio-right {
padding-top: 130px;
  padding-left: 50px;
  max-width: 50%;
  height: auto;
  font-size: 18px;
  font-family: 'Playfair Display', serif;
}

#bio-right p{
  padding: 4px;
}

#bio-right .first {
  padding: 15px 0;
}

#bio-right .second {
  padding: 15px 0;
}

#bio-right .third {
  padding: 15px 0;
}

#bio-right .forth {
  padding: 15px 0;
}

pictures .pic1 {
  max-width: 30%;
  height: auto;
  position: absolute;
  top: 33%;
  right: 12%;
}

#progile.footer {
  background-color: #333333;
  color: #828282;
  margin-bottom: 300px;
}

.icon {
  margin-left:150px;
  width:30%;
  display: flex;
}

.icon a {
  padding-right:20px;
  font-size: 22px;
  text-decoration: none;
  color: #828282;
}
